[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core",
]

[tool]
[tool.poetry]
authors = ["eggplants <w10776e8w@yahoo.co.jp>"]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: Implementation :: CPython",
]
description = "Get your Pixiv token (for running upbit/pixivpy)"
keywords = ["pixiv", "api", "token"]
name = "gppt"
packages = [{include = "gppt"}]
license = "MIT"
readme = "README.md"
repository = "https://github.com/eggplants/get-pixivpy-token"
version = "4.0.1"

[tool.poetry.dependencies]
python = ">=3.8,<4"
pixivpy3 = "^3.7.3"
pwinput = "^1.0.3"
requests = "^2.31.0"
selenium = "^4.14.0"

[tool.poetry.group.dev.dependencies]
mypy = ">=0.991,<1.9"
pre-commit = ">=2.20,<4.0"
taskipy = "^1.10.3"
types-requests = "^2.28.11.15"
pytest = ">=7.2.2,<9.0.0"
pytest-cov = "^4.0.0"

[tool.poetry.scripts]
gppt = "gppt.main:main"

[tool.black]
line-length = 120
target-version = ['py39']

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["ALL"]
ignore = ["D", "ANN101"]

[tool.ruff.lint.mccabe]
max-complexity = 18

[tool.ruff.lint.per-file-ignores]
"gppt/main.py" = [
  "T201", # `print` found
  "T203", # `pprint` found
]
"gppt/auth.py" = [
  "T201", # `print` found
]

[tool.mypy]
pretty = true
python_version = "3.8"
show_error_codes = true
strict = true

[tool.taskipy.tasks]
test = "pytest --cov=gppt --cov-report=term"
"test:html" = "task test --cov-report=html && open htmlcov/index.html"
"test:ci" = "task test --cov-report=xml:cov.xml"
lint = "pre-commit run -a"
profile = "python -m cProfile"
